<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/css/colours.css">
    <link rel="stylesheet" type="text/css" href="../public/css/bg.css">
    <link rel="icon" href="./public/imgs/wilbert.png">

    <title>QWallet, Upgrading the Piggy Bank</title>

  </head>
  <body>
    <nav class="navbar navbar-custom navbar-expand-lg navbar-light justify-content-between sticky-top">
      <a class="navbar-brand" href="#">
        <img src="imgs/wilbert.png" width="45" height="30" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-outline-danger">Contact Us</button>
    </nav>

    <div class="jumbotron jumbotron-fluid">

      <h1 class="display-4">QWallet</h1>
      <p class="lead">Check back soon for more updates, and contact us if you want to know more</p>

      <hr class="my-4">

      <p>We're working tirelessly to help you with the future of saving</p>
    </div>

    <div class="parallax"></div>

    <div class="jumbotron jumbotron-fluid">

      <h1 class="display-4">Site under construction</h1>
      <p class="lead">Check back soon for more updates, and contact us if you want to know more</p>

      <hr class="my-4">

      <p>We're working tirelessly to help you with the future of saving</p>
    </div>

    <div class="parallax" id="parallaxtwo"></div>

    <div class="jumbotron jumbotron-fluid">

      <h1 class="display-4">Site under construction</h1>
      <p class="lead">Check back soon for more updates, and contact us if you want to know more</p>

      <hr class="my-4">

      <p>We're working tirelessly to help you with the future of saving</p>
    </div>

<!-- required js which includes jquerry, popper.js, and bootstrap.js -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
